
    <%-include('partials/head.ejs', {stylesheet: '/home.css'})%>
  <body>
      <%-include('partials/navBar.ejs')%>

    <main>
      <form action='/addlisting' method='POST' enctype='multipart/form-data'>
        <label for='fThumbnail'>Listing thumbnail:</label>
        <input type='file' name='fThumbnail' id='fThumbnail' accept='image/*' required>
        <br>
        <label for='fImage'>Listing image:</label>
        <input type='file' name='fImage' id='fImage' accept='image/*' required>
        <br>

        <label for='fTitle'>Title</label>
        <input type='TEXT' name='fTitle' id='fTitle' required>
        <br>
        <label for='fPrice'>Price (SGD)</label>
        <input type='TEXT' name='fPrice' id='fPrice' required>
        <br>
        <label for='fDescription'>Description</label>
        <input type='TEXT' name='fDescription' id='fDescription' required>
        <br>
        <div>Options:</div>
        <%options.forEach(element => {%>
          <label for='fOptions<%=element.id%>'><%=element.name%></label>
          <input type="checkbox" id ='fOptions<%=element.id%>' name='fOptions' value='<%=element.id%>'>
        <%}); %>       
        <br> 
        
        <label for='fCategory'>Choose a category: </label>
        <select name ='fCategory' id= 'fCategory'>
              <%categories.forEach(element => { %>
                <option value='<%=element.id%>'><%=element.name%></option>
             <% }); %>
        </select> 

        <br> 
        <input type="submit" value="submit">
      </form>
  
  </main>
<%-include('partials/footer.ejs')%>
    
  </body>
</html>
