
    <%-include('partials/head.ejs', {stylesheet: '/categories.css'})%>
  <body>

    <%-include('partials/navBar.ejs')%>
    <main>
      <ul class="breadCrumbs">
        <li class="breadCrumbs-items">
          <a href="/" class="breadCrumbs-link"><img src="/images/MablebearLogo_round.png" alt='Mablebear Logo' class='breadCrumbs-home-logo'></a>
        </li>
        <li class="breadCrumbs-items">
          <a href="/categories" class="breadCrumbs-link breadCrumbs-link-active">Categories</a>
        </li>
      </ul>
 

      
      
      <div class='container'>
        <div class='row'>
          <div class='col headerCol'>
            <h2>Categories:</h2> 
            <form action="/categories" class="form-group">
              <select name="fSort" id="fSort" onchange= "this.form.submit()" class='btn btn-outline-primary dropdown-toggle' >
                <option value="ASC">Sort </option>
                <option value="ASC">Ascending </option>
                <option value="DESC">Descending</option>
              </select>
            </form>
          </div>
        </div>
        <div class='row'>
          <%content.forEach(element => {%>
            <div class='col-md-6 col-xl-4 card-col-container'>
              
              <div class="card">
               <img class="card-img-top" src="/<%=element.thumbnail%>" alt="Card image">
                  <div class="card-body">
                   <h4 class="card-title"><%=element.name%></h4>
                   <a href="/categories/<%=element.name%>" class="stretched-link"></a>
                  </div>
              </div>
            </div>
            <%}); %>
        </div>
      </div>

      

  </main>
<%-include('partials/footer.ejs')%>
    
  </body>
</html>
