
    <%-include('partials/head.ejs', {stylesheet: '/categories-product.css'})%>
  <body>
    <%-include('partials/navBar.ejs')%>
    <main>
      <ul class="breadCrumbs">
        <li class="breadCrumbs-items">
          <a href="/" class="breadCrumbs-link"><img src="/images/MablebearLogo_round.png" alt='Mablebear Logo' class='breadCrumbs-home-logo'></a>
        </li>
        <li class="breadCrumbs-items">
          <a href="/categories" class="breadCrumbs-link">Categories</a>
        </li>
        <li class="breadCrumbs-items">
          <a href="/categories/<%= categoryName %> " class="breadCrumbs-link breadCrumbs-link-active">Items by category</a>
        </li>
      </ul>

      <div class='container'>
        <div class='row'>
          <div class='col'>
            <h4><%= categoryName %></h4> 
          </div>
        </div>
        <div class='row'>
          <%arrayOfUniqueProducts.forEach(element => {%>
            <div class='col-12 col-lg-4'>
              
              <div class="card">
               <img class="card-img-top" src="/<%=element.thumbnail%>" alt="Card image">
                  <div class="card-body">
                   <h4 class="card-title"><%=element.title%></h4>
                   <p class="card-text"><%=element.description%></p>
                   <a href="/products/<%=element.id%>" class="btn btn-primary">Details</a>
                  </div>
              </div>
            </div>
            <%}); %>
        </div>
      </div>
  
  </main>
<%-include('partials/footer.ejs')%>
    
  </body>
</html>

