
    <%-include('partials/head.ejs', {stylesheet: '/manageorders.css'})%>
  <body>
    <%-include('partials/navBar.ejs')%>
    <main>
    <div class='container'>
      <div class='row'>
        <div class='col'>
          <h1>Manage orders</h1>     
        </div>
      </div>
      <div class='row'>
          <div class='col-1'>
            <div>order id</div>
          </div>
          <div class='col-2'>
            <div>Thumbnail</div>
          </div>
          <div class='col-2'>
            <div>Title</div>
          </div>
          <div class='col-1'>
            <div>Option</div>
          </div>
          <div class='col-1'>
            <div>Price</div>           
          </div>
          <div class='col-2'>
            <div>Details (custId/date)</div>
          </div>
          <div class='col-1'>
            <div>Proof of payment</div>
          </div>
          <div class='col-1'>
            <div>Ack Payment</div>
          </div>
      </div>
      <%dataToDisplay.forEach(element => {%>
        <div class='row'>
          <div class='col-1'>
            <%=element.order_id %>
          </div>
          <div class='col-2 text-truncate'>
            <%=element.thumbnail %>
          </div>
          <div class='col-2 text-truncate'>
            <%=element.title%>
          </div>
          <div class='col-1 text-truncate'>
            <%=element.optionname%>
          </div>
          <div class='col-1 text-truncate'>
            $<%=element.price%>
          </div>
          <div class='col-2 text-truncate'>
            
            <%=element.user_id%>/
            <%=element.create_at%>
            
          </div>
          <div class='col-1 text-truncate'>
            <%if (element.proof_of_payment===null){%>
              Pending
            <% } else{%> 
            <img src='/<%=element.proof_of_payment%>'/>
            <% } %> 
          </div>
          <div class='col text-truncate'>
            <form action= '/manageorder/element.order_id/paid' method='POST'>
              <input type= 'submit' value='Paid'>
            </form>
          </div>
         
        </div>
      <%}); %>
    </div>
  
    </main>
<%-include('partials/footer.ejs')%>
    
  </body>
</html>
