
    <%-include('partials/head.ejs', {stylesheet: '/manageorders.css'})%>
  <body>
    <%-include('partials/navBar.ejs')%>
    <main>

      <ul class="breadCrumbs">
        <li class="breadCrumbs-items">
          <a href="/" class="breadCrumbs-link"><img src="/MablebearLogo_round
            " alt='Maplebear Logo' class='breadCrumbs-home-logo'></a>
        </li>
        <li class="breadCrumbs-items">
          <a href="/manageorders" class="breadCrumbs-link breadCrumbs-link-active">Manage Live Orders</a>
        </li>
      </ul>

      <div><img src="MablebearLogo_round" alt="maplebear background" class='bear-background'></div>
    <div class='container'>
      <div class="row">
        <div class="col">
            <form action="/manageorders" class="form-group">
              <select name="fSort" id="fSort" onchange= "this.form.submit()" class='btn btn-outline-primary dropdown-toggle' >
                <option value="ASC">Sort </option>
                <option value="ASC">Ascending </option>
                <option value="DESC">Descending</option>
              </select>
            </form>
        </div>
      </div>
      <div class='row header'>
        <div class="col-8 col-lg-10"> 
          <div class="row">
            <div class="col-12 col-lg-1">
              <div>Order id</div>
            </div>
            <div class='col-12 col-lg-4' >
              <div>Product</div>
            </div>
            <div class='col-12 col-lg-1'>
              <div>Option</div>
            </div>
            <div class='col-12 col-lg-1'>
              <div>Price</div>
            </div>
            <div class='col-12 col-lg-5'>
              <div>Details (custId/Date)</div>
            </div>
          </div>
        </div>

        <div class='col-1'>
          <div>Proof of payment</div>
        </div>
        <div class='col-1'>
          <div>Ack Payment</div>
        </div>
      </div>
      <%allActiveOrders.forEach(element => {%>
        <div class='row contentRow'>
          <div class="col-8 col-lg-10">
            <div class="row">
              <div class='col-12 col-lg-1'>
                <span class='order-Id-Header'>Order Id: </span>
                <%=element.order_id %>
              </div>
              <div class='col-12 col-lg-4' >
                <span class='text-truncate titleSpan'><%=element.title%></span>
                <img src="/<%=element.thumbnail %>" alt='product thumbnail' class="thumbnailImg">
              </div>
              <div class='col-12 col-lg-1'>
                <span class="text-truncate"><%=element.optionname%>
              </div></span>
              <div class='col-12 col-lg-1'>
                <span class="text-truncate">$<%=element.price%></span>
              </div>
              <div class='col-12 col-lg-5'>
                <span class='text-truncate'><%=element.user_id%>/
                <%=element.create_at%></span>
              </div>
            </div>
          </div>
          <div class='col-4 col-lg-1 receiptCol'>
            <%if (element.proof_of_payment===null){%>
              <span class="text-truncate">Pending</span>
            <% } else{%> 
            <img src='/<%=element.proof_of_payment%>' alt='receipt' class='receiptImg'>
            <% } %> 
          </div>
          <div class='col-12 col-lg-1 btnCol'>
            <form action= '/manageorders' method='POST'>
              <input type='hidden' name="orderId" id='orderId' value="<%=element.order_id%> ">
              <input type= 'submit' value='Paid' class='btn btn-primary'>
            </form>
          </div>
         
        </div>
      <%}); %>
    </div>
  
    <div><img src="/MablebearLogo_Main" alt="mablebear background"class='watermark'></div>
    </main>
<%-include('partials/footer.ejs')%>
    
  </body>
</html>
