
    <%-include('partials/head.ejs', {stylesheet: ''})%>
  <body>

    <%-include('partials/navBar.ejs')%>
    <main>
        <ul class="breadCrumbs">
        <li class="breadCrumbs-items">
          <a href="/" class="breadCrumbs-link"><img src="https://www.maplebear.ca/wordpress_AN/wp-content/themes/maplebear_CA/images/maplebear_badge_1200.png" alt='Maplebear Logo' class='breadCrumbs-home-logo'></a>
        </li>
        <li class="breadCrumbs-items">
          <a href="/mycart" class="breadCrumbs-link">Cart</a>
        </li>
        <li class="breadCrumbs-items">
          <a href="/mycart/review" class="breadCrumbs-link breadCrumbs-link-active">Review order</a>
        </li>
      </ul>

    <div class='container'>
      <div class='row'>
        <div class='col'>
          <h2>Review order:</h2>          
        </div>
      </div>
      <div class='row'>
        <div class='col-1'>
                     
        </div>
        <div class='col'>
          Items     
        </div>
        <div class='col'>
          Price (SGD)   
        </div>
      </div>
        <%cartItems.forEach(element => {%>
          <div class='row'>
            <div class='col-1'>
              <li></li>
            </div>
            <div class='col'>
              <label for='fCartItems<%=element.product_id%>'> <%=element.title%></label>          
            </div>
            <div class='col'>
              <%=element.price%> 
            </div>
          </div>
        <%}); %>
      <div class='row'>
        <div class='col'>
          Order total: $<%= totalPrice %> 
        </div>
      </div>
      <div class='row'>
        <div class='col'>
          <form action='/mycart/review/pay' method='POST'>
            <%cartItems.forEach(element => {%>
              <input type='hidden' name='fCartItems' value='<%= element.id %>'> 
            <%}); %>
            <input type='submit' value='Order'>
          </form>
        </div>
      </div>
    </div>
    </main>
<%-include('partials/footer.ejs')%>
    
  </body>
</html>
