
    <%-include('partials/head.ejs', {stylesheet: '/myCart.css'})%>
  <body>
    <%-include('partials/navBar.ejs')%>
    <main>
        <ul class="breadCrumbs">
        <li class="breadCrumbs-items">
          <a href="/" class="breadCrumbs-link"><img src="https://www.maplebear.ca/wordpress_AN/wp-content/themes/maplebear_CA/images/maplebear_badge_1200.png" alt='Maplebear Logo' class='breadCrumbs-home-logo'></a>
        </li>
        <li class="breadCrumbs-items">
          <a href="/mycart" class="breadCrumbs-link breadCrumbs-link-active">Cart</a>
        </li>
      </ul>

    <div class='container'>
      <div class='row'>
        <div class='col'>
          <h2>Confirm items to checkout:</h2>          
        </div>
      </div>
      <div class='row'>
        <div class='col-1'>
                     
        </div>
        <div class='col'>
          Items     
        </div>
        <div class='col'>
          Price (SGD)      
        </div>
      </div>
      
      <form action='/mycart/review' method='POST'>
        <%cartItems.forEach(element => {%>
          <div class='row contentRow'>
            <div class='col-1'>
              <input type='checkbox' id='<%=element.user_products_cartid%>' name='fCheckedCartItems' value='<%=element.user_products_cartid%>'>
            </div>
            <div class='col'>
              <label for='<%=element.user_products_cartid%>'> <%=element.title%></label>          
            </div>
            <div class='col'>
              <%=element.price%> 
            </div>
          </div>
        <%}); %>
      <div class='row'>
        <div class='col'>
          <input type='submit' value='Review order' class='btn btn-primary'>
        </div>
      </div>
        </form>
    </div>
    </main>
<%-include('partials/footer.ejs')%>
    
  </body>
</html>
